<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Альбомы</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>

<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'menu' %}" class="nav-link px-2 link-secondary">Исполнители</a></li>
          <li><a href="{% url 'albums' %}" class="nav-link px-2 link-secondary">Альбомы</a></li>
          <li><a href="#" class="nav-link px-2 link-secondary">Композиции</a></li>
          <li><a href="{% url 'playlists' %}" class="nav-link px-2 link">Плейлисты</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>
      </div>
    </div>
  </header>

<div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
  <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios1" value="" checked="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

  <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios2" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios2">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

  <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Трек
    <span class="d-block small opacity-50">Исполнитель</span>
  </label>

</div>

</body>