<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать аккаунт</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'sign-in' %}" class="nav-link px-2 link-secondary">Войти</a></li>
            <li><a href="{% url 'sign-up' %}" class="nav-link px-2 link">Создать аккаунт</a></li>
        </ul>

    </header>
</div>

<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">

    <div class="modal-content rounded-4 shadow">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Создайте аккаунт MusicLab</a></li>
      </ul>

      <div class="modal-body p-10 pt-0">
        <form class="">

          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Укажите почту</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Создайте пароль</label>
          </div>

          <button class="w-100 mb-2 btn btn-lg rounded-2 btn-primary" type="submit">Создать</button>
          <hr class="my-1">
            <ul class="nav col-12 col-md-auto mb-0 justify-content-center mb-md-0">
                <li><small><a href="#" class="nav-link px-2 link-secondary">
                    Нажимая Создать, вы соглашаетесь с условиями использовния </a></small></li>
            </ul>

          <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#google"></use></svg>
            Создайте с помощью Google
          </button>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <footer class="py-0 my-2">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
    <p class="text-center text-muted">© 2022 Company, Inc</p>
  </footer>
</div>
